.result {
  margin-top: 20px;
}


.contact-item {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 16px;
  position: relative;

  &:hover {
    background-color: #faf3f3;
  }

  .contact-action {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    right: 8px;
    top: 0;
    gap: 10px;
  }
}

.user {
  display: flex;
  gap: 8px;
}