.conversation {
  background-color: white;
  padding: 12px;
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: #e5f3f8;
  }
}

.selected {
  background-color: #e5f3f8;
}

.preview-conversation {
  position: relative;
  width: calc(100% - 58px);
}

.name {
  margin-bottom: 0 !important;
}

.message {
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.time {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
}

.avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.menu-conversation {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}