.main-layout {
  height: 100vh;
}

.header-wrapper {
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  background-color: #dcddf6;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;

  :global {
    .ant-avatar {
      cursor: pointer;
    }
  }
}

.main-content {
  height: 100%;
  background-color: white;
}