.header {
  display:flex;
  align-items: center;

  .upload-button {
    :global {
      .ant-upload.ant-upload-select {
        width: 48px;
        height: 48px;
        margin: 0;
      }
    }
  }

  .form-item-title {
    display:flex;
    align-items: center;
  }

  .input-title {
    min-width: 300px;
    outline: none;
    border: none;
    position: relative;
    border-radius: 0;
    border-bottom: 1px solid #5c5d5f; 

    &:hover, &:focus {
      box-shadow: none;
    }
  }
}

.content {
  :global {
    .ant-checkbox-group-item {
      margin-inline-start: 0 !important;
    }
  }
}